# Ignore everything first
**/*

# Main output
!Main.pdf

# Homework
!doc/
!doc/*.txt

# Source
!src/
!src/*.tex
!src/*.sty

# Plan
!plan/
!plan/*.tex

# Output
!Orders.pdf

# Build script
!build.sh

# README
!README.md

# Settings files
!.gitignore
!.vscode/
!.vscode/settings.json